<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="${site.seo_keywords!}">
    <meta name="description" content="${site.seo_description!}">
    <title>${site.site_name!"NutzShop"}</title>
    <!--<link rel="shortcut icon" type="image/x-icon" href="./img/favico.ico">-->
    <link rel="stylesheet" href="${base}/assets/public/pc/css/css.css"/>
    <script type="text/javascript" src="${base}/assets/public/pc/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${base}/assets/public/pc/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="${base}/assets/public/pc/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="${base}/assets/public/pc/js/common.js"></script>
    <script type="text/javascript" src="${base}/assets/public/pc/js/page.js"></script>
</head>
<body>
<% include( "../include/top.html" ){}; %>
<% include( "../include/head.html" ){}; %>
<div class="nav-bar w_1200">
    当前位置：<a href="${base}/">首页</a> / <a href="javascript:;">全部商品</a> / <a href="${base}/shop/goods/new" class="on">最新上架</a>
</div>
<div class="wrap w_1200 cf2">
    <div class="wrap-l fl">
        <% include( "../include/hot.html" ){}; %>
    </div>
    <div class="wrap-r fr">
        <div class="i-banner">
            <div id="slideBox" class="slideBox">
                <div class="bd">
                    <ul>
                        <#cms_link_list code="new_slide" size="5" var="o">
                            <li><a href="${o.url!}" target="${o.target!}" title="${o.name!}"><img alt="${o.name!}"
                                                                                                  src="${base}${o.picurl!}"/></a>
                            </li>
                        </#cms_link_list>
                    </ul>
                </div>
                <div class="s-ico">
                    <a class="prev" href="javascript:void(0)"><span><</span></a>
                    <a class="next" href="javascript:void(0)"><span>></span></a>
                </div>

            </div>
        </div>
        <ul class="wrap-rnav">
            <li <%if(sortName=="upAt,numSaleWeek"){%>class="on"<%}%>><a href="?pageNumber=1&pageSize=${pageSize}&sortName=upAt,numSaleWeek&sortType=desc">默认排序<i></i></a></li>
            <li <%if(sortName=="upAt"){%>class="on"<%}%>><a href="?pageNumber=1&pageSize=${pageSize}&sortName=upAt&sortType=<%if(sortName=='upAt'){%><%if(sortType=='desc'){%>asc<%}else{%>desc<%}%><%}else{%>desc<%}%>">上架时间 <%if(sortName=="upAt"&&sortType=="desc"){%>↓<%}else{%>↑<%}%><i></i></a></li>
            <li <%if(sortName=="price"){%>class="on"<%}%>><a href="?pageNumber=1&pageSize=${pageSize}&sortName=price&sortType=<%if(sortName=='price'){%><%if(sortType=='desc'){%>asc<%}else{%>desc<%}%><%}else{%>desc<%}%>">销售价格 <%if(sortName=="price"&&sortType=="desc"){%>↓<%}else{%>↑<%}%><i></i></a><i></i></a></li>
            <li <%if(sortName=="numSaleWeek"){%>class="on"<%}%>><a href="?pageNumber=1&pageSize=${pageSize}&sortName=numSaleWeek&sortType=<%if(sortName=='numSaleWeek'){%><%if(sortType=='desc'){%>asc<%}else{%>desc<%}%><%}else{%>desc<%}%>">本周销量 <%if(sortName=="numSaleWeek"&&sortType=="desc"){%>↓<%}else{%>↑<%}%><i></i></a><i></i></a></li>
        </ul>
        <div class="pro-list">
            <#goods_list pageNumber="${pageNumber}" pageSize="${pageSize}" sortName="${sortName}" sortOrder="${sortType}" var="p">
                <div class="pro-lsub"><a
                        href="<%if(p.pageNo>1){%>?pageNumber=${p.pageNo-1}&pageSize=${pageSize}&sortName=${sortName!}&sortType=${sortType!}<%}else{%>javascript:;<%}%>"
                        class="p-l"><</a><span><i>${p.pageNo}</i> / ${p.totalPage}</span><a
                        href="<%if(p.pageNo<p.totalPage){%>?pageNumber=${p.pageNo+1}&pageSize=${pageSize}&sortName=${sortName!}&sortType=${sortType!}<%}else{%>javascript:;<%}%>"
                        class="p-r">></a></div>
                <div class="pro-listm">
                    <ul class="i-ifirul cf2">
                        <%for(o in p.list){%>
                        <li>
                            <dl>
                                <dt><a href="${base}/shop/goods/detail/${o.pid!}" target="_blank" class="scl">
                                    <img src="${base}${@image.m(o.imgurl)}" width="380" height="380" class="trana"/></a></dt>
                                <dd>
                                    <em></em>
                                    <h3>${o.name!} ${o.specname!}</h3>
                                    <p>￥${@money.fenToYuan(o.price)}
                                        <del>￥${@money.fenToYuan(o.priceMarket)}</del>
                                    </p>
                                    <span class="cf2"><input type="button" value="立即购买" class="i-buy fl"/><input
                                            type="button" value="加入购物车" class="i-add fr"/> </span>
                                </dd>
                            </dl>

                        </li>
                        <%}elsefor{%>
                        <li>没有商品</li>
                        <%}%>
                    </ul>
                    <%if(p.totalCount>1){%>
                    <div class="page"></div>
                    <script type="text/javascript">
                        $(function () {
                            $(".page").createPage({
                                pageCount: ${p.totalPage},
                                current: ${p.pageNo},
                                backFn: function (p) {
                                    window.location.href = "?pageNumber=" + p + "&pageSize=${p.pageSize}&sortName=${sortName!}&sortType=${sortType!}";
                                }
                            });
                        });
                    </script>
                    <%}%>
                </div>
            </#goods_list>
        </div>
    </div>
</div>
<% include( "../include/foot.html" ){}; %>
</body>
</html>