﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- <meta name="renderer" content="ie-stand"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <{header}>
    <link rel="stylesheet" href="images/styles.css" />

    <link rel="stylesheet" href="images/bootstrap.css" />
    <link rel="stylesheet" href="images/basic.css" />
    <link rel="stylesheet" href="images/css.css" />
    <link rel="stylesheet" href="images/boncake.css" />
</head>
<body class="index-page">

<{require file="block/header.html"}>
<div class="wrap cf clear">
    <!-------wrap图片第一层------->
    <div class="wrap_imagef">
        <div class="wrap_imagef1">
            <{widgets id="wrap_imagef1"}>
        </div>
        <div class="wrap_imagef2">
            <div class="wrap_imagef2a">
                <{widgets id="wrap_imagef2a"}>
            </div>
            <div class="wrap_imagef2s">
                <{widgets id="wrap_imagef2s"}>
            </div>
        </div>
    </div>
    <!-------wrap图片第二层------->
    <div class="wrap_images">
        <div class="wrap_imagesf">
            <{widgets id="wrap_imagesf"}>
        </div>
        <div class="wrap_images_second">
            <{widgets id="wrap_images_second"}>
        </div>
        <div class="wrap_image_secondt">
            <{widgets id="wrap_image_secondt"}>
        </div>
        <div class="wrap_imagefour">
            <div class="wrap_imagefoura">
                <{widgets id="wrap_imagefoura"}>
            </div>
            <div class="wrap_imagefourb">
                <{widgets id="wrap_imagefourb"}>
            </div>
        </div>
    </div>
    <!-------wrap图片第三层-------->
    <div class="wrap_imaget">
        <div class="wrap_imagetf">
            <div class="wrap_imagetfa">
                <{widgets id="wrap_imagetfa"}>
            </div>
            <div class="wrap_imagetfb">
                <{widgets id="wrap_imagetfb"}>
            </div>
        </div>
        <div class="wrap_imagets">
            <{widgets id="wrap_imagets"}>
        </div>
        <div class="wrap_imagett">
            <{widgets id="wrap_imagett"}>
        </div>
        <div class="wrap_imagefi">
            <{widgets id="wrap_imagefi"}>
        </div>
    </div>
</div>
<{require file="inc/footer.html"}>
<div id="wrap">

</div>
</body>

</html>
