*{ margin:0; padding:0;}
body{ font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,Arial,"宋体"; font-size:14px; color:#333; line-height:1.6em;}
h1{line-height:1.3em;}
a:hover img,img{ border:none;}
img{ vertical-align:top;}
ul{ list-style:none;}
input,button,select,textarea{outline:none;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,Arial,"宋体"; font-size:14px; color:#666;}
table input,table button,table select,table textarea{ vertical-align:middle;}
textarea{resize:none}
table{ border-collapse:collapse;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none; color:#35c2d8;}
/*-------------------------结束公用样式--------------------------*/
.cf { overflow:hidden; zoom:1;}
.cf2{zoom: 1;}
.cf2:after {content: ""; display: block;height: 0;clear: both;}
input.checlass{ margin:0 5px; margin-left:0;vertical-align:middle; _vertical-align:baseline;}
.fl{float:left;}
.fr{float:right;}
/*--------------------star首页的样式*/
.w_1200{ width:1200px; margin:0 auto;}
.w_1112{width:1112px;margin:0 auto;}
.pt20{padding-top:20px;}
.wrap{background:url(../img/bg.jpg) repeat-x top;}
/*-------star头文件*/
input[type="button"]{cursor: pointer;}

.d-top{height:36px;text-align: right;}
.d-top .d-ttel{display:inline-block;padding:0 15px;line-height:36px;height:36px;color:#fff;background:#35c2d8;margin:0 5px;margin-right:0px;}
.d-top .d-tm{display:inline-block;width:130px;text-align: center;position:relative;background:#35c2d8;vertical-align: top;}
.d-top .d-tm>a{display:inline-block;color:#fff;width:130px;height:36px;}
.d-top .d-tms{display:none;position:absolute;top:36px;left:0px;width:100%;z-index: 2;padding:0 3px 1px;left:-3px;background: url(../img/bga.png) repeat-y;}
.d-top .d-tms a{display:block;text-align: center;background:#86DAE8;border-top:1px solid #84e7f7;line-height:30px;color:#fff;}
.d-top .d-tms a:hover{background:#35c2d8}
.d-top .d-tma{line-height:36px;}
.d-top .d-tma img{position:relative;top:10px;padding-left:10px;}
.d-tl{display:inline-block;width:80px;height:36px;background:#35C2D8;color:#fff;text-align: center;line-height:36px;}
.d-tl:hover{background:#25AFC4;color:#fff;}

.d-tsec{padding-top:32px;height:80px;}
.d-tsecl{display:inline-block;width:190px;height:45px;float:left;}
.d-tsecl img{width:190px;}
.d-tsecc{float: right;width:420px;border:1px solid #ddd;position:relative;margin-top:6px;}
.d-tsecc input[type='text']{width:100%;height:40px;margin:0;padding:0px;border:none;background:none;text-indent:20px;}
.d-tsecc span{position: absolute;top:0px;right:0px;display:inline-block;width:40px;height:40px;}
.d-tsecc span input{display:inline-block;width:40px;height:40px;background:url(../img/ico/res.png) no-repeat center center;border:none;}
.d-tsecr{float:right;width:172px;height:52px;background:url(../img/ico/res-bg.png) no-repeat center top;text-align: center;padding-top:9px;}
.d-tsecr>a{display:inline-block;width:154px;height:34px;border:1px solid #ddd;background:#fff;line-height:34px;}
.d-tsecr>a i{font-style: normal;}
.d-tsecr>a img{position:relative;top:5px;padding-left:5px;padding-right:5px;}

.wrap-lul li a{display:block;padding:18px 0;border-bottom:1px solid #ddd;}
.wrap-lul li a dl{position:relative;}
.wrap-lul li a dl dt{width:70px;height:70px;position:absolute;top:0px;left:0px;border:1px solid #ddd}
.wrap-lul li a dl dt img{width:70px;height:70px;}
.wrap-lul li a dl dd{padding-left:80px;height:70px;}
.wrap-lul li a dl dd p{font-size:14px;line-height:22px;height:45px;}
.wrap-lul li a dl dd span{color:#35C2D8;font-size:16px;}
/*导航*/
.d-nav{border-top:5px solid #35C2D8;background:#f3f3f3;}
.d-nav .d-navul li{width:106px;float: left;padding:15px 5px;height:30px;line-height:30px;text-align: center;}
.d-nav .d-navul li.on{background:#35C2D8;color:#fff;}
.d-nav .d-navul li.on a{color:#fff}

/*导航*/
.d-navp{border-top:5px solid #35C2D8;background:#f3f3f3;position:fixed;top:0px;left:0px;width:100%;z-index: 8;display:none}
.d-navp .d-navul li{width:106px;float: left;padding:15px 5px;height:30px;line-height:30px;text-align: center;}
.d-navp .d-navul li.on{background:#35C2D8;color:#fff;}
.d-navp .d-navul li.on a{color:#fff}


/*banner*/
.banner{width:824px;padding:6px;border:1px solid #ddd;height:514px;float:left;position:relative;margin-top:32px;}
.banner .bd{overflow: hidden;width:824px;height:514px;line-height:30px;}
.prev{float:left;display:inline-block;width:30px;height:30px;background:#666666;text-align: center;line-height:30px;}
.prev span{font-family: "宋体";color:#fff;font-size:16px;}
.next{float:right;display:inline-block;width:30px;height:30px;background:#666666;text-align: center;line-height:30px;}
.next span{font-family: "宋体";color:#fff;font-size:16px;}
.slideBox .s-ico{position:absolute;bottom:20px;right:26px;width:62px;height:36px;}
.d-ifirr{width: 340px;float:right;margin-top:32px;}
.d-ifirra{display:inline-block;width:324px;height:324px;padding:7px;overflow: hidden;border:1px solid #ddd;}
.d-ifirra span{display: inline-block;width:324px;height:324px;overflow: hidden;}
.d-ifirra span img{width:324px;height:324px;}
.d-ifirrb{width:340px;display:inline-block;overflow: hidden;height:180px;margin-top:2px;}
.d-ifirrb img{width:340px;height:180px;}

.i-idectit{height:52px;position:relative;padding-top:10px;}
.i-idectit h3{font-size:18px;height:36px;border-bottom:1px solid #35C2D8;font-weight:100;line-height:28px;color:#666666;}
.i-idectit a{position:absolute;right:0px;top:10px;}
.i-idectit a i{display:inline-block;width:90px;height:24px;background:#35C2D8;color:#fff;font-style:normal;text-align: center;line-height:24px;}
.i-idectit a span{display:inline-block;width:24px;height:24px;background:#35C2D8;color:#fff;font-family: "宋体";line-height:24px;text-align: center;vertical-align: top;margin-left:5px;}
.i-idectit a:hover i,.i-idectit a:hover span{background:#25afc4;}

.i-idec,.i-ifir{overflow: hidden;}
.i-idecul,.i-ifirul{width:1210px;position:relative;left:-5px;}
.i-idecul li{width:230px;height:230px;border:1px solid #ddd;margin:5px;float:left;}
.i-idecul li dl{padding:7px;overflow: hidden;height:214px;}
.i-idecul li dl dt{overflow:hidden ;height:214px;}
.i-idecul li dl dt img{width:100%;height:214px;}
.i-idecul li dl dd{position:relative;width:214px;height:200px;padding-top:14px;background:#35C2D8;color:#fff;top:20px;text-align: center;}
.i-idecul li dl dd h3{padding-top:10px;height:70px;font-weight: 100;font-size:14px;}
.i-idecul li dl dd p{display:inline-block;width:120px;height:40px;text-align:center;line-height:40px;background:#86dae8;}
.i-idecul li dl dd span{display:block;font-size:24px;padding-top:25px;}

.i-ifirul li{width:230px;height:390px;border:1px solid #ddd;margin:5px;float:left;margin-bottom:20px;}

.i-ifirul li dl dt{padding:7px;}
.i-ifirul li dl dt a{overflow: hidden;display:block;height:214px;}
.i-ifirul li dl dd{position:relative;border-top:1px solid #86dae8;text-align: center;}
.i-ifirul li dl dd h3{font-size:14px;color:#666666;font-weight:100;padding:15px 20px 0;line-height:24px;height:60px;}
.i-ifirul li dl dd>em{border-right:4px solid #fff;border-top:4px solid #86dae8;border-left:4px solid #fff;position:absolute;top:-1px;left:50%;}
.i-ifirul li dl dd p{font-size:18px;color:#86DAE8;height:40px;}
.i-ifirul li dl dd p del{font-size:14px;color:#cccccc;}
.i-ifirul li dl dd span{display:block;padding:0 8px;}
.i-buy,.i-add{width:103px;height:40px;background:#35C2D8;color:#fff;line-height:40px;border:none;cursor: pointer;}
.i-buy:hover,.i-add:hover{background:#25AFC4}

.footer{background:#3a3a3a;}
.footer-con{overflow: hidden;}
.footer-ul{width:1230px;position:relative;padding-top:20px;padding-bottom:10px;}
.footer-ul li{width:175px;float:left;padding:0 15px;}
.footer-ul li a{color:#7a7a7a;}
.footer-ul li h3{border-bottom:1px solid #7a7a7a;height:42px;line-height:42px;font-size:16px;font-weight: 100;margin-bottom:10px;}
.footer-ul li p{height: 30px;line-height:30px;}
.footer-ul li span{background:#fff;display:inline-block;width:84px;padding:3px;}

.footer-bot{margin-top:20px;border-top:1px solid #86DAE8;height:50px;line-height:45px;color:#7a7a7a;}
.footer-bot a{color:#7a7a7a;}
.footer a:hover,.footer ul li a:hover{color:#86DAE8;}

/*内页*/
.nav-bar{height:60px;line-height:60px;}
.nav-bar .on{color:#35c2d8;}
.wrap{padding-bottom:20px;}
.wrap-l{width:222px;}
.wrap-r{width:958px;}
.wrap-lborder{border:1px solid #ddd;padding:7px;}
.wrap-lborder h3{font-size:16px;color:#35C2D8;height:40px;border-bottom:2px solid #35C2D8;text-align: center;line-height:36px;text-align: center;font-weight:500;}

.w-nav li{line-height:40px;border-top:2px solid #fff;}
.w-nav li a{display: block;height:40px;padding-left:20px;background:#f3f3f3;}
.w-nav li a i{display:inline-block;width:10px;height:10px;background:url(../img/bgb.png) no-repeat center right;}
.w-nav li a span{display:inline-block;padding-left:20px;color:#666;}
.w-nav li a:hover,.w-nav li.on a{background:#35C2D8;color:#fff;}
.w-nav li a:hover i,.w-nav li.on a i{background-position:center left;}
.w-nav li a:hover span,.w-nav li.on a span{color:#fff;}
/*内页banner*/
.i-banner{padding:7px;border:1px solid #ddd;}
.i-banner .slideBox{height:244px;position:relative;}
.i-banner .slideBox .bd{position:relative;height:244px;}
.i-banner .slideBox .bd li img{width:942px;height:244px;}

/*wrap-rnav*/
.wrap-rnav{height:40px;border:1px solid #ddd;background:#f3f3f3;margin-top:20px;}
.wrap-rnav li{position:relative;width:100px;border-right:1px solid #ddd;float:left;height:40px;line-height:40px;}
.wrap-rnav li a{display:block;height:40px;text-align: center;}
.wrap-rnav li.on a{color:#35C2D8;border-bottom:2px solid #35C2D8;position:absolute;top:0px;left:0px;width:100%;}
.wrap-rnav li.on a i{border-left:4px solid #fff;border-top:3px solid #35C2D8;border-right:4px solid #fff;position:absolute;bottom:-5px;left:50%;}

.pro-list{position:relative}
.pro-lsub{position:absolute;top:-41px;right:0px;width:140px;border-left:1px solid #ddd;text-align: center;height:40px;line-height:40px;}
.pro-lsub span{font-size:14px;color:#666666;}
.pro-lsub span i{color:#35C2D8;font-style:normal;}
.pro-lsub .p-l{font-size:16px;font-family: "宋体";position: absolute;left:15px;top:2px}
.pro-lsub .p-r{font-size:16px;font-family: "宋体";position: absolute;right:15px;top:2px;}

.pro-listm{overflow: hidden;padding-top:30px;}
.pro-listm>ul{width:968px;}
/*商品详情*/
.list-d{height:600px;}
.list-dl{width:420px;float:left;}
.list-dr{float:left;width:574px;padding-left:32px;}
.list-dlh3{font-size:18px;color:#666666;font-weight: 100;height:55px;}
.list-dla{font-size:16px;color:#35C2D8;height:38px;border-bottom:1px dashed #ddd;}
.list-dlb{height:36px;line-height:36px;}
.list-dlb span{display:inline-block;min-width:75px;font-size: 14px;color:#666666;}
.list-dlb del{color:#999999;}
.list-dlb i{font-style: normal;color:#35C2D8;font-weight: bold;font-size: 18px;}
.list-dlc{border-top:1px dashed #ddd;padding-top:20px;}
.list-dlc dd{width:75px;color:#666;float:left;}
.list-dlc dt,.list-dld dt{width:490px;float:left;}
.list-dlc dt a{display:inline-block;width:35px;height:30px;border:1px solid #ddd;text-align: center;line-height:30px;color:#666666;margin-right:5px;}
.list-dlc dt a.on{color:#fff;background:#35C2D8;border-color:#35C2D8;}

.list-dld dd{width:75px;color:#666;float:left;padding-top:5px;}
.list-dld{padding-top:20px;}
.list-dld dt a{display:inline-block;width:40px;height:40px;border:1px solid #ddd;margin-left:3px;margin-bottom:4px;}
.list-dld dt a img{width:40px;height:40px;}
.list-dld dt a.on{border:2px solid #35c2db;width:38px;height:38px;}
.list-dld dt a.on img{width:38px;height:38px;}
.list-dle dt{float:left;width:75px;color:#666;padding-top:20px;}
.list-dle dd{width:480px;float:left;height:60px;padding-top:15px;}
.list-dlea{width:36px;height:30px;text-align: center;line-height:30px;color:#666;border:1px solid #ddd;background:#fff;vertical-align: top;}
.list-dleb{display:inline-block;width:25px;height:30px;line-height:30px;text-align: center;}
.list-dlebadd{width:13px;height:15px;float:left;border:1px solid #ddd;font-size:14px;line-height: 15px;font-style: normal;vertical-align: top;cursor: pointer;}
.list-dlebred{display:inline-block;float:left;width:13px;height:14px;border:1px solid #ddd;border-top:none;font-size:14px;line-height: 13px;cursor: pointer;font-style: normal;vertical-align: top;}
.list-dlec{display:inline-block;width:30px;color:#999;height:30px;line-height:30px;vertical-align: top;}
.list-dled{display:inline-block;width:150px;color:#999;vertical-align: top;height:30px;line-height:30px;}
.list-dlebadd:hover,.list-dlebred:hover{background:#eee;}

.list-dlf{padding-top:20px;height:80px;}
.buy-now{width:180px;height:43px;border:1px solid #35C2D8;color:#35C2D8;font-size:16px;display:inline-block;float:left;}
.add-shop{width:180px;height:43px;border:1px solid #35C2D8;background:#35C2D8;color:#fff;font-size:16px;display:inline-block;float:left;margin-left:15px;}
.noc{font-size:16px;color:#666;}

.list-ddr{width:145px;float:right;border:1px solid #ddd;}
.picScroll-top{position:relative;}
.picScroll-top .bd{padding:8px;}
.picScroll-top .bd li img{width:100%;height:139px;}
.picScroll-top .bd li .m-title{font-size:14px;color:#666;text-align: center;line-height:30px;height:36px;}
.picScroll-top .hd{position:absolute;bottom:-30px;right:-1px;}

.list-bot{position:relative;border:1px solid #ddd;}
.list-dul{height:40px;border-bottom:1px solid #ddd;position:absolute;top:-40px;border-left:1px solid #ddd;background:#fff;width: 100%;}
.list-dul li{position:relative;width:120px;text-align: center;line-height:40px;color:#666;height:40px;float:left;border-right:1px solid #ddd;border-top:1px solid #ddd;}
.list-dul li a{display:block;height:40px;}
.list-dul li.on{background:#35C2D8;border-color:#35C2D8;}
.list-dul li.on a{color:#fff;}
.list-dul li.on i{border-left:4px solid #fff;border-top:4px solid #35C2D8;border-right:4px solid #fff;display:inline-block;height:0px;position:absolute;top:40px;left:50%;margin-left:-2px;}


.list-dulak{height:65px;background:url(../img/ico/bgh.png) repeat-x top;position:absolute;top:0px;z-index: 9;width:100%;left:0px;display:none;border-top:1px solid #ddd;}
.list-dula{height:45px;border-bottom:1px solid #ddd;width:1200px;margin:0 auto;border-left:1px solid #ddd;position:relative;top:15px;}
.list-dula .list-dulali{position:relative;width:140px;text-align: center;line-height:45px;color:#666;height:45px;float:left;border-right:1px solid #ddd;border-top:1px solid #ddd;}
.list-dula .list-dulali a{display:block;height:60px;}
.list-dula .list-dulali.on{background:#35C2D8;border-color:#35C2D8;}
.list-dula li.on a{color:#fff;}
.list-dula li.on i{border-left:4px solid #fff;border-top:4px solid #35C2D8;border-right:4px solid #fff;display:inline-block;height:0px;position:absolute;top:45px;left:50%;margin-left:-2px;}
.list-dulalir{float:right;position:relative;top:-5px;}
.list-dulalir .list-dlf{margin-top:0px;height:50px;padding-top:0px;}

.list-bota{margin:20px;background:#eee;min-height:500px;}
.list-botb{padding:0 20px 20px}
.list-botbh3{height:38px;border-top:1px solid #35C2D8;border-bottom:1px solid #35C2D8;color:#35C2D8;line-height:38px;font-weight: 100;}

.list-botnav{height:90px;border-bottom:1px solid #ddd;}
.list-botnava{display:inline-block;width:132px;text-align: center;line-height:25px;padding-right:20px;}
.list-botnava i{color:#35C2D8;font-size:36px;font-style: normal;}
.list-botnavli{display:inline-block;border:1px solid #ddd;height:40px;line-height:40px;position:relative;top:-10px;}
.list-botnavli a{padding:0 20px;vertical-align: middle;color:#999999;}
span.on{border-color:#35C2D8;}
span.on a{color:#666;}
.list-botc{padding-bottom:20px;padding-left:20px;padding-right:20px;}
.list-botcdl{padding:20px 0;border-bottom:1px solid #ddd;}
.list-botcdl dt{width:122px;float:left;}
.list-botcdl dd{width:1030px;float:right;}
.list-botcdl dt i{display:inline-block;width:26px;height:26px;overflow: hidden;float: left;}
.list-botcdl dt span{display: inline-block;width:90px;height:90px;float:left;line-height:26px;}
.list-botcdda{line-height:24px;color:#666;padding-bottom:20px;}
.list-botcddb span{border:1px solid #ddd;display:inline-block;width:40px;height:40px;padding:5px;margin-bottom:20px;}
.list-botcddb span img{width:40px;height:40px;}
.list-botcddc{color:#999;padding-bottom:10px;}
.list-bot{border-bottom:1px solid #ddd;}
.list-botcddb{color:#35C2D8;line-height:24px;border-top:1px dashed #ddd;padding-top:10px;}

.w-shopul{height:40px;background:url(../img/ico/bgd.png) no-repeat center right;}
.w-shoplia{float:left;width:135px;height:40px;position:relative;}
.w-shoplia img,.w-shoplib img,.w-shoplic img{position:absolute;top:0px;left:0px;}
.w-shoplia img.on,.w-shoplib img.on,.w-shoplic img.on{z-index: 2;display: inline-block;}
.w-shoplib{float:left;width:135px;height:40px;position:relative;}
.w-shoplic{float:left;width:136px;height:40px;position:relative;}
.s-img{display:none;}
.w-shopm{text-align: center;margin:20px 0 40px;min-height:360px;}
.w-shopma{padding:50px 0 10px}
.w-shopmb{font-size:24px;line-height:50px;height:60px;}
.w-shopmc{display:inline-block;width:160px;height:50px;border:none;background:#35C2D8;color:#fff;font-size:16px;text-align: center;cursor: pointer;}


/*page*/
.page{text-align: right;padding:30px 0;}
.page-l,.page-r{display: inline-block;width:108px;height:38px;border:1px solid #ddd;position:relative}
.page-l i{border-top:4px solid #fff;border-right:4px solid #7a7a7a;border-bottom:4px solid #fff;height:0px;display:inline-block;position:relative;left:-10px;margin-left:10px;}
.page-r i{border-top:4px solid #fff;border-left:4px solid #7a7a7a;border-bottom:4px solid #fff;height:0px;display:inline-block;position:relative;left:10px;margin-left:10px;}
.page *{text-align: center;} 
.page a{line-height:38px;vertical-align: top;}
.page-num{display: inline-block;min-width:20px;height:38px;border:1px solid #ddd;padding:0 8px;}
.page-txt{line-height:38px;padding:0 5px;}
.page .on{background:#84E7F7;color:#fff;border-color:#84E7F7;}

/*购物车*/
.shop-k{width:100%;padding-top:35px;}
.shop-kt{width:100%;}
.shop-kt th{border-bottom:2px solid #35C2D8;height:40px;color:#666;font-weight: 100;}
.shop-kta{min-height:40px;}
.shop-kta dt{width:118px;text-align: left;float:left;}
.shop-kta dd{width:390px;float: right;text-align: left;}
.shop-kta dt input{display:inline-block;width:12px;height:12px;border:1px solid #ddd;background:#fff;}
.shop-kta .shop-kb{margin-left:30px;}
.shop-kta img{width:82px;height:82px;border:1px solid #ddd;position:relative;top:7px;left:20px}
.shop-kt tr{border-bottom:1px solid #ddd;}
.shop-kt tr .shop-kta{padding:20px 0 25px;}
.shop-kt tr .shop-kta dd h3{font-weight:100;color:#333333;line-height:24px;height:64px;font-size:14px;top:2px;}
.shop-kt tr .shop-kta dd p{color:#666666;line-height:21px;}

.shop-ktb{text-align: center;vertical-align: top;}
.shop-ktb span{position:relative;top:25px;color:#666;}
.shop-ktc{text-align: center;vertical-align: top;}
.shop-ktc>div{position:relative;top:25px;}
.shop-kdel{display:inline-block;width:80px;height:38px;border:1px solid #ddd;background:#fff;position:relative;top:25px;cursor: pointer;}
.shop-kdel:hover{background:#35C2D8;color:#fff;}

.shop-ktd{height:40px;background:#eee;position:relative;margin-top:30px;}
.shop-kte{width:375px;float:left;padding-left:20px;}
.shop-kte1{width:12px;height:12px;border:1px solid #ddd;background:#fff;display:inline-block;margin-right:10px;position:relative;top:10px;}
.shop-kte2{display:inline-block;width:50px;color:#666;position:relative;top:6px;}
.shop-kte3{display:inline-block;width:68px;text-align: center;border:none;background:none;position:relative;top:6px;}
.shop-kte4{width:120px;text-align: center;color:#666;border:none;background:none;position:relative;top:6px;}
.shop-ktf{width:450px;text-align: right;float:right;line-height:40px;position:relative;padding-right:150px;}
.shop-ktf input{width:120px;height:40px;background:#35C2D8;color:#fff;border:none;position:absolute;top:0px;right:0px;font-size:16px;cursor: pointer;}
.shop-ktf i{font-style: normal;font-weight: 700;color:#35C2D8;}
.shop-ktf input:hover{background:#25AFC4;}
.shop-kta dt input.on{background:url(../img/ico/bg.jpg) no-repeat center center;border-color:#35C2D8;}

.shop-s{padding-top:20px;}
.shop-sh3{font-size:14px;color:#666;border-bottom:2px solid #35C2D8;height:45px;line-height:40px;font-weight: 100;margin-bottom: 20px;position:relative;}
.shop-sh3 input{position:absolute;top:10px;right:20px;border:none;background:none;color:#35C2D8;}
.shop_sa{padding:5px 28px;background:#eee;border:1px solid #35c2d8;position:relative;margin-bottom:5px;}
.shop_sa1{display:inline-block;width:70px;height:38px;float:left;line-height:38px;color:#35C2D8;}
.shop_sa2{float:left;display:inline-block;width:20px;height:20px;border:none;background:url(../img/ico/bge.png) no-repeat center center;position:relative;top:10px;}
.shop_sa3{display:inline-block;width:880px;float:left;line-height:38px;color:#666;padding-left:10px;}
.shop_sa4{display:inline-block;background:none;border:none;position:absolute;top:14px;right:150px;}
.shop_sa5{background:none;border:none;position:absolute;top:14px;right:20px;color:#35C2D8;}

.shop-sb{height:36px;line-height:36px;}
.shop-sb label{padding-left:130px;position:relative;display:block;}
.shop-sb label input{position:absolute;top:12px;left:100px;width:14px;height:14px;background:#fff;border:1px solid #ddd;}
.shop-sb label p{color:#666;}

.mt10{margin-top:10px;}
.shop-bot{border-bottom:1px solid #ddd;padding-bottom:10px;}

.shop-sc{padding:10px 0px;}
.shop-sc label{display:inline-block;width:120px;}
.shop-sc label span{position: relative;left:20px;}

.shop-ktg select{width:450px;height:40px;border:1px solid #ddd;display: block;padding-left:20px;}

.shop-sdl{width:50%;float:left;margin-top:20px;}
.shop-sdl input{display:block;width:410px;border:1px solid #ddd;height:40px;background:#fff;padding:0 20px;margin-bottom:20px;}
.shop-sdr{display: block;width:320px;margin-top:20px;float:right;}
.shop-sdr select{display:block;border:1px solid #ddd;height:40px;padding:0 20px;width:320px;}

.shop-sdr{padding-top:20px;padding-bottom:5px;}
.shop-sdr li{line-height:30px;height:30px;position:relative;text-align: right;}
.shop-sdr li span{position:absolute;right:120px;color:#666;}
.shop-sdr li i{font-style: normal;}
.f-18{font-size:18px;}
.f-24{font-size:24px}
.c-bule{color:#35C2D8;}

.shop-se{padding:20px 0;text-align: right;border-top:1px dotted #ddd;margin-top:20px;}
.shop-se input{display:inline-block;font-size:16px;width:160px;height:40px;text-align: center;color:#fff;background:#35C2D8;border:none;}
.shop-se input:hover{background:#25AFC4;}

.w-shopmd{line-height:36px;color:#666;}
.w-shopmd p{color:#35C2D8;}
.w-shopme{width:352px;margin:0 auto;padding:20px 0;}
.w-shopmel{width:156px;height:48px;border:1px solid #ddd;line-height:48px;background:#fff;float:left;font-size:16px;}
.w-shopmer{width:156px;height:48px;border:1px solid #35C2D8;background:#35C2D8;line-height:48px;color:#fff;float:right;font-size:16px;}
.w-shopmer:hover,.w-shopmel:hover{background: #25AFC4;color:#fff}


.c-hide{display:none}
.zhuce{position:fixed;width:100%;height:100%;top:0px;left:0px;background:url(../img/ico/bgf.png)}
.zhuce-div{width:480px;padding:35px 40px 30px;background:#fff;position:absolute;top:50%;margin-top:-280px;left:50%;margin-left:-260px;height:480px;overflow: auto;}
.zhece-ula{position:relative;text-align: center;height:45px;}
.zhece-ula span img{height:45px;}
.zhece-ula i{position:absolute;top:-10px;right:-5px;cursor: pointer;display:inline-block;border:2px solid #fff;height:16px;}
.zhece-ula i:hover{border-color:#35C2D8;height:16px;}
.zhece-ulb{height:50px;padding-top:20px;}
.zhece-ulb a{display:block;float:left;background:#eee;height:50px;line-height: 50px;text-align: center;width:50%;}
.zhece-ulb a.on{background:#35C2D8;color:#fff;}
.zhuce-inl{padding-top:10px;}
.zhuce-inla{padding-top:10px;position:relative;}
.zhuce-inla input[type="text"]{border:1px solid #ddd;height:48px;background:#fff;display:block;padding-left:20px;width:458px;}
.zhuce-inla span{position:absolute;top:10px;right:60px;display:inline-block;padding:10px;height:30px;background:#eee;}
.zhuce-inla span img{height:30px;}
.zhuce-inla input[type="button"]{display:inline-block;width:60px;height:50px;background:#eee;line-height:50px;text-align: center;color:#35C2D8;position:absolute;top:10px;right:0px;border:none;}
.zhuce-inlb{height:30px;line-height:30px;padding-top:10px;padding-bottom:10px;}
.zhuce-inlb a{color:#666;}
.zhuce-inlc input{display:block;width:100%;height:50px;background:#35C2D8;color:#fff;font-size:18px;color:#fff;text-align: center;line-height:50px;border:none;}

.zhece-inld{padding-top:20px;}
.zhece-inldl{width:50%;float:left;color:#666;}
.zhece-inldl a{display:inline-block;width:90px;height:20px;color:#666;}
.zhece-inldl a img{vertical-align: middle;}
.zhece-inldr{text-align: right;}
.zhece-inldr a{color:#35C2D8;}


.zhece-ulb h3{height:50px;background:#35C2D8;color:#fff;line-height:50px;text-align: center;font-weight: 100;}
.hq-yzm{width:160px !important;}
.zhece-inle{padding-top:20px;height:36px;}
.zhece-inle input{width:20px;height:20px;display:inline-block;background:url(../img/ico/bg.jpg) no-repeat center center;border:none;}
.zhece-inle a{color:#666;padding-left:20px;}

/*会员中心*/
.main{border:1px solid #ddd;margin-bottom:20px;}
.main-l{width:222px;float:left;min-height:60px;}
.main-r{width:920px;float: left;border-left:1px solid #ddd;min-height:600px;padding-left:30px;padding-top:30px;overflow:hidden;padding-bottom:30px;}
.main-nav{padding:10px;}
.main-nav h3{background:#35C2D8;color:#fff;padding:0 20px;font-weight: 500;font-size:16px;height:40px;line-height:40px;}
.main-nav a{display: block;border-top:2px solid #fff;background:#eee;}
.main-nav a p{height:40px;padding-left:40px;background:url(../img/bgb.png) no-repeat center left;line-height:40px;}

.main-ra{background:#eee;padding:30px 36px;}
.main-ra dt{width:90px;height:90px;border:5px solid #fff;overflow: hidden;float:left;}
.main-ra dt img{width:90px;height:90px;}
.main-ra dd{width:710px;float:right;color:#666;position:relative;padding-top:20px;}
.main-ra dd p{line-height:30px;}
.main-ra dd p span{display:inline-block;width:118px;}
.main-ra dd p i{font-style: normal;}
.main-rb{position:absolute;top:35px;right:0px;width:144px;height:38px;border:1px solid #35C2D8;color:#35C2D8;background:none;text-align: center;line-height:38px;}

.main-rc{width:930px;margin-bottom:20px;}
.main-rc li{width:33.33%;float:left;padding-top:10px;}
.main-rc li dl{padding-right:10px;}
.main-rc li dl dt{height:100px;padding:15px 30px;background:#eee;}
.main-rc li dl dt p{color:#666;padding-top:10px;height:36px;}
.main-rc li dl dt p span{font-weight: 700;font-size:18px;color:#35C2D8;}
.main-rc li dl dt input{display:inline-block;width:100px;height:40px;border:1px solid #ddd;background:#fff;}
.main-rc li dl dt input:hover{background:#35C2D8;color:#fff;}

.main-rtuia{border:1px solid #ddd;}
.main-rtuib{padding:14px 20px 20px;}
.main-rtui{padding-bottom:20px;}
.main-rtui .w-shopul{background-image: url(../img/ico/bgd1.png);}
.main-rtuic{border-bottom:1px solid #ddd;height:36px;margin-bottom:20px;}
.main-rtuic>span{display: inline-block;width:88px;float:left;color:#666;}
.main-rtuic>dl{display:inline-block;width:104px;height:30px;}
.main-rtuic>dl dt{width:104px;height:30px;}
.main-rtuic>dl dt span{float:right}
.main-rtuid{padding:15px 0;position:relative;}
.main-rtuid div{width:165px;float: left;color:#666;text-align: right;padding-right:10px;padding-top:10px;}
.main-rtuid div i{color:#ff0000;font-style:normal}
.main-rtuid>select{display:block;width:480px;float:left;border:1px solid #ddd;height:40px;padding-left:20px;}
.main-rtuid>span{color:#35C2D8;display: block;width:400px;float:left;line-height:40px;}
.main-rtuid>div>span{color:#999}
.main-rtuid textarea{width:578px;height:60px;border:1px solid #ddd;background:#fff;padding:10px 20px;}

/*huiyuan*/
.main-rd{height:40px;border-left:1px solid #ddd;position:relative;top:1px;}
.main-rd li{border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;width:140px;height:40px;float:left;position:relative}
.main-rd li a{display:block;text-align: center;line-height:40px;color:#666;}
.main-rd li.on a{background:#35C2D8;color:#fff;}
.main-rd li.on a i{border-left:4px solid #fff;border-right:4px solid #fff;border-top:4px solid #35C2D8;position:absolute;top:40px;left:50%;}

.main-rf{border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.main-rf th{border-bottom:2px solid #35C2D8;height:46px;font-weight: 500;color:#666;}

.main-rg{background:#eee;height:40px;border:1px solid #ddd;}
.main-rg input{display:inline-block;width:14px;height:14px;border:1px solid #ddd;background:#fff;position:relative;left:20px;}
.main-rg span{padding-left:40px;color:#666;}

.main-rh{border:1px solid #ddd;margin-bottom:20px;}
.main-rh td{border-right:1px solid #ddd;}
.main-rh dl{padding:18px;}
.main-rh dl dt{display:inline-block;width:78px;height:78px;border:1px solid #ddd;float:left;}
.main-rh dl dt img{width:78px;height:78px;}
.main-rh dl dd{width:245px;float:right;}
.main-rh dl dd h3{font-size:14px;color:#333;height:60px;font-weight: 500;}
.main-rh dl dd p{color:#666;}
.shop-ktb del{color:#999;}
.main-ri{display:inline-block;border:none;background:#fff;text-align: center;}
.main-rj{height:48px;position:relative;top:-20px;}
.main-rj h3{height:40px;border-bottom:2px solid #35C2D8;font-size:18px;font-weight: 500;color:#666;line-height:36px;}

.main-rk{width:100%;}
.main-rl{border:1px solid #ddd;height:48px;border-bottom:2px solid #35C2D8;}
.main-rl th{font-weight: 500;text-align: left;}
.main-rl th span{display:inline-block;padding-left:28px;}
.main-rma{text-align: center;color:#35C2D8;vertical-align: top;}
.main-rma span{position:relative;top:20px;}
.main-rmb dl{padding-left:28px;padding-right:28px;padding-top:20px;padding-bottom:20px;}
.main-rmb dl dd{line-height:24px;color:#666;}
.main-rmb dl dt{padding-top:10px;}
.main-rmb dl dt span{display:inline-block;width:40px;height:40px;padding:3px;margin-right:5px;border:1px solid #ddd;}
.main-rmb dl dt span img{height:40px;width:40px;}
.main-rmb dl dt p{color:#999;padding-top:15px;}
.main-rmc{vertical-align: top;}
.main-rmc h3{position:relative;top:20px;font-weight: 500;font-size:14px;color:#666;line-height:24px;vertical-align: top;padding-left:23px;padding-bottom:30px;}
.main-rmc i{font-style: normal;color:#35C2D8;padding-left:23px;}
.main-rm{border-bottom:1px solid #ddd;}

.main-rtuie{padding:20px}
.main-rtuie input{display: block;margin-left:155px;width:160px;height:40px;text-align: center;line-height:40px;background:#35C2D8;color:#fff;border:none;font-size:16px;}

.main-ye{background:#eee;padding:30px;position:relative;top:-20px;margin-top:-6px;}
.main-ye>span{display:inline-block;width:190px;color:#666;float:left;line-height:40px;}
.main-ye>span>i{color:#35C2D8;font-style: normal;}
.main-yel{display:inline-block;width:100px;height:40px;background:#35C2D8;border:none;color:#fff;text-align: center;line-height:40px;}
.main-yer{display:inline-block;width:100px;height:40px;background:#fff;border:1px solid #ddd;color:#666;text-align: center;line-height:40px;margin-left:20px;}
.main-yel:hover{background:#25AFC4;}
.main-yer:hover{background:#ddd;}
.main-yea{border:1px solid #ddd;padding:0 20px;margin-top:20px;}
.main-yea table{width:100%;}
.main-yea tr th{height:48px;color:#666;font-weight: 500;}
.main-yea tr .main-yea1{text-align: left;}
.main-yea tr .main-yea4{text-align: right;}
.main-yea2{color:#35C2D8;}
.main-yea3{color:#49bb4b;}
.main-yea tr td{text-align: center;color:#666}
.main-yea5{border-bottom: 1px solid #ddd;}
.main-yea6{border-bottom:1px dotted #ddd;height:48px;}
.main-cz{display:block;height:40px;width:440px;padding:0 20px;border:1px solid #ddd;}
.main-rtuid dl{width:450px;float:left;height:40px;}
.main-rtuid dl label{display:inline-block;width:140px;float:left;line-height:36px;}
.main-rtuid dl label img{padding-left:10px;padding-right: 20px;}
.main-ye > span.main-yeo{display:inline-block;width:570px;height:38px;border-left:1px solid #ddd;float:left;padding-left:40px;}
.main-ye > span.main-yeo em{font-style: normal;color:#999;}

.main-yep{padding:0 20px;}
.main-yep th{height:48px;color:#666;font-weight: 500;}
.main-yep dl{padding:20px 0;}
.main-yep dl dt{display:inline-block;width:78px;height:78px;float:left;border:1px solid #ddd;}
.main-yep dl dt img{width:78px;height:78px;}
.main-yep dl dd{width:245px;float:right;}
.main-yep dl dd h3{font-weight: 500;font-size:14px;color:#333333;line-height:24px;height:55px;text-align: left;}
.main-yep dl dd p{color:#666;text-align: left;}
.main-yea6{border-bottom:1px dotted #ddd;}
.shop-ktb span.c-bule{color:#35C2D8}
.shop-ktb span.main-yea3{color:#49BB4B;}

.yhq{width:930px;padding-top:30px;}
.yhq li{width:33.33%;float:left;padding-bottom:20px;}
.yhq li.yhqa div{padding-right:10px;}
.yhq li.yhqa div>a{display:block;background:url(../img/ico/yhq.png) no-repeat center center;height:110px;color:#fff;padding:20px;}
.yhq li.yhqa div>a>p{padding-top:7px;position:relative;font-size:36px;height:50px;line-height:40px;}
.yhq li.yhqa div>a>p i{font-style: normal;font-size:14px;color:#fff;}
.yhq li.yhqa div>a>p span{font-size:14px;position:absolute;top:10px;right:0px;}
.yhq li.yhqa h3{font-size:14px;font-weight: 500;}
.yhq li.yhqa div>a:hover{opacity: .9;}

.yhq li.yhqb div{padding-right:10px;}
.yhq li.yhqb div>a{display:block;background:url(../img/ico/yhq1.png) no-repeat center center;height:110px;color:#fff;padding:20px;}
.yhq li.yhqb div>a>p{padding-top:7px;position:relative;font-size:36px;height:50px;line-height:40px;}
.yhq li.yhqb div>a>p i{font-style: normal;font-size:14px;color:#fff;}
.yhq li.yhqb div>a>p span{font-size:14px;position:absolute;top:10px;right:0px;}
.yhq li.yhqb h3{font-size:14px;font-weight: 500;}
.yhq li.yhqb div>a:hover{opacity: .9;}

.main-rtuid dl{width:635px;float:left;}
.main-rtuid dl select{text-align: center;padding-left:20px;height:40px;border:1px solid #ddd;display:block;width:140px;float:left;margin-right:20px;padding-right:20px;}
.mor{display: inline-block;width:12px;height:12px;border:1px solid #ddd;background:#fff;}
.main-cbtn{position:absolute;top:16px;left:516px;background:#eee;display:inline-block;width:140px;height:40px;text-align: center;line-height:40px;border:none;border-left:1px solid #ddd;}
.main-rtuid .main-rphone{color:#666;}
.nocm{line-height:24px;padding:20px 30px;color:#666;background:#eee;}

.main-nav li.on a{color:#35C2D8;}
.text{line-height:42px;color:#666;}
.news{position:relative;margin-top:-20px;}
.news-li{padding:30px 0 30px;border-bottom:1px dotted #ddd;}
.news-li a{display: block;position:relative;height:92px;}
.news-li a dt{position:absolute;left:0px;top:0px;width:70px;height:90px;border:1px solid #35C2D8;text-align: center;padding:0 10px;}
.news-li a dt p{border-bottom:1px solid #35C2D8;font-size:30px;height:58px;line-height:58px;color:#35C2D8}
.news-li a dt span{color:#666;padding-top:3px;display:inline-block;}
.news-li a dd{padding-left:130px;}
.news-li a dd h3{font-size:18px;color:#333333;height:36px;line-height:36px;font-weight:500;}
.news-li a dd p{line-height:24px;color:#666;}

.text-h1{padding:20px 0;font-size:24px;color:#333;font-weight: 500;text-align: center;}
.text-t {text-align: center;padding:10px 0 35px;}
.text-t span{color:#666;display: inline-block;padding:0 10px;text-align: center;}
.text-t span i{color:#35C2D8;font-style: normal;}

.flush{width:50px;position:fixed;top:50%;margin-top:-100px;right:20px;}
.flush li{border-top:2px solid #fff;}
.flush li a{display:block;background:#d9d9d9;height:30px;padding:10px;}
.flush li a:hover,.flush li.flu-topa a{background:#35C2D8;}
/*详情js*/
.s-main{width:420px;float:left;overflow: hidden;position:relative;}
.s-mainpic{height:418px;overflow: hidden;border:1px solid #ddd;}
.s-mainpic li{position:absolute}
.s-mainpic img{width:418px;height:418px;}
.s-miansec{width:350px;margin:0 auto;height:70px;overflow: hidden;padding-top:18px;}
.s-miansec ul{height:70px;}
.s-miansec li{width:70px;float:left;}
.s-miansec li a{display:block;padding:5px;}
.s-miansec img,.s-miansec img:hover{width:58px;height:58px;border:1px solid #ddd;}
.s-miansec li.on img{border:2px solid #35C2D8;width:56px;height:56px;}
.sl-mark{line-height:30px;display:inline-block;width:30px;height:30px;background:#35C2D8;color:#fff;font-size:16px;font-family: "宋体";text-align:center;position:absolute;bottom:20px;left:0px;cursor: pointer;}
.sr-mark{line-height:30px;display:inline-block;width:30px;height:30px;background:#35C2D8;color:#fff;font-size:16px;font-family: "宋体";text-align:center;position:absolute;bottom:20px;right:0px;cursor: pointer;}
.sl-mark i,.sr-mark i{font-style: normal;}
.sl-mark:hover,.sr-mark:hover{background:#25AFC4;}
/*CSS3*/
.light{display:inline-block;
cursor:pointer;
position: absolute;
left: -180px;
top: 0;
width: 180px;
height: 300px;
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
transform: skewx(-25deg);
-o-transform: skewx(-25deg);
-moz-transform: skewx(-25deg);
-webkit-transform: skewx(-25deg);
}
a:hover .light{
left:180px;
-moz-transition:0.5s;
-o-transition:0.5s;
-webkit-transition:0.5s;
transition:0.5s;
}

.lighta{display:inline-block;
cursor:pointer;
position: absolute;
left: -180px;
top: 0;
width: 90px;
height: 300px;
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
transform: skewx(-25deg);
-o-transform: skewx(-25deg);
-moz-transform: skewx(-25deg);
-webkit-transform: skewx(-25deg);
}
a:hover .lighta{
left:180px;
-moz-transition:1s;
-o-transition:1s;
-webkit-transition:1s;
transition:1s;
}
.scl:hover img{-webkit-transform: scale(1.1,1.1); -moz-transform: scale(1.1,1.1); transform: scale(1.1,1.1);}
.trana{-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.text-ell{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
.round_s{ -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.round_m{ -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.round_a{-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;}
/*round-link*/
.slideBox .hd ul li,.round_s,.round_a{ /*_position:relative;*/position:relative\9;behavior: url(pie.htc);}
