<%
layout("/layouts/platform.html"){
%>
<header class="header navbar bg-white shadow">

    <div class="pull-right">
        <div class="btn-group tool-button">
            <button class="btn btn-primary navbar-btn" type="button" id="save"> 发布</button>
        </div>
    </div>
</header>

<div class="content-wrap" style="padding-top: 50px;">
    <%for(o in obj){%>
    <div class="col-md-3">
        <div class="panel">
            <div class="prev fl">
                <div class="theme-preview"><b></b><img src="${base!}/template/${o.code!}/preview.jpg"
                                                       style="width: 120px;height: 120px;"></div>
            </div>
            <div class="info fl">
                <ul>
                    <li><em>${o.code!}</em></li>
                    <li>${o.name!}</li>
                    <li>版本号: <em>${o.version!}</em></li>
                    <li>开发者: <em>${o.author!}</em></li>
                    <li>
                        <a href="index.php?app=site&amp;ctl=admin_theme_widget&amp;act=editor&amp;theme=boncake&amp;file=index.html"
                           target="_blank" class="btn"><span><span>可视化编辑</span></span></a>&nbsp;<a
                            href="index.php?app=site&amp;ctl=admin_theme_manage&amp;act=detail&amp;id=boncake&amp;finderview=detail_tmpl&amp;action=detail&amp;finderview=detail_tmpl"
                            target="_blank" class="btn btn-tempmanage"><span><span>页面管理</span></span></a></li>
                    <li><a href="index.php?app=site&amp;ctl=admin_explorer_theme&amp;act=directory&amp;theme=boncake"
                           target="_blank" class="btn"><span><span>源文件管理</span></span></a>&nbsp;<a
                            href="javascript:void(0);" dropmenu="x-drop-menu" class="btn btn-tempmanage "><span><span>更多 <i
                            class="arrowdown">&nbsp;</i></span></span></a>
                        <ul class="x-drop-menu" style="display: none; left: 277px; top: 308px;">
                            <li><a href="javascript:void(0);" class="download-temp" rel="boncake">下载</a></li>
                            <li><a href="javascript:void(0);" class="backup-temp" rel="boncake">备份模板</a></li>
                            <li><a href="javascript:void(0);" class="clean-cache">清除模板缓存</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <%}%>
</div>
<%}%>