<%
layout("/layouts/platform.html"){
%>
<aside class="sidebar-250 canvas-right bg-default ">
    <header class="header navbar clearfix bb bg-default pl0 pr0">
        <p class="navbar-text"><i class="fa fa-sitemap mr5"></i> 文件列表</p>
    </header>
    <div class="content-wrap no-p">
        <div class="wrapper2">
            <div class="m5">
                <div id="jsTree"></div>
            </div>
        </div>
    </div>
</aside>
<section class="content-wrap bg-white">
    <header class="header navbar bg-white shadow">
        <div class="btn-group tool-button">
            当前路径：
        </div>
        <div class="pull-right offscreen-right">
        </div>
    </header>
    <div class=panel-body style="padding-top: 50px;">
    </div>
</section>
<script language="JavaScript">
    var unitTreeTable;
    var selected = [];
    function initTreeView() {
        $("#jsTree").jstree({
            plugins: ["wholerow"],
            core: {
                data: {
                    url: function (node) {
                        return node.id === "#" ? "${base}/platform/dec/tpl/tree" : "${base}/platform/dec/tpl/tree?path=" + node.id
                    }
                },
                multiple: false
            }
        }).on("select_node.jstree", function (node, selected) {
            var id = selected.selected;
        }).on("loaded.jstree", function (node, jstree) {
            $(node.target).find("li:first div").addClass("jstree-wholerow-clicked");
        });
    }
    $(document).ready(function () {
        initTreeView();
    });

</script>
<%}%>
