<%
layout("/layouts/platform.html"){
%>
<div class="content-wrap">

    <div class="wrapper" style="min-height:500px;height: 100%;">
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <section class="widget" style="border: 1px solid #15acdc">
                    <div class="widget-header bg-info">
                        <span class="h3" id="finishAmount">￥0.00</span>
                        <span></span>
                        <span class="small show text-uppercase">30天内卖出</span>
                    </div>
                    <div class="widget-body bg-info">
                        <div class="text-center mt15 mb10">
                            <span class="dash-line"></span>
                        </div>
                    </div>
                    <footer class="widget-footer text-center">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">全部订单 </div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/order/order?navStatus=all" data-pjax style="color:#3c8dbc" id="numAll" >0</a></b>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">待发货</div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/order/order?navStatus=unship" data-pjax style="color:#FF0000" id="numDf">0</a></b>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">待收货</div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/order/order?navStatus=shiped" data-pjax style="color:#3c8dbc" id="numDs">0</a></b>
                                </div>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
            <div class="col-md-12 col-lg-6">
                <section class="panel panel-primary">
                    <header class="panel-heading">
                        <div class="h5">
                            <b>商品信息</b>
                        </div>
                    </header>
                    <footer class="panel-footer text-center">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">已上架商品</div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/goods/goods?disabled=false" data-pjax style="color:#3c8dbc" id="numUp">0</a></b>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">未上架商品</div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/goods/goods?disabled=true"  data-pjax style="color:#3c8dbc" id="numDwon">0</a></b>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">库存预警商品</div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/goods/goods?stock=10"  data-pjax style="color:#FF0000" id="numStock">0</a></b>
                                </div>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
            <div class="col-md-12 col-lg-6">
                <section class="panel panel-primary">
                    <header class="panel-heading">
                        <div class="h5">
                            <b>会员信息</b>
                        </div>
                    </header>
                    <footer class="panel-footer text-center">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">总会员</div>
                                <div class="h4 no-m"><b><a href="${base}/platform/shop/member/member" data-pjax style="color:#3c8dbc" id="mm_numAll">0</a></b>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">昨日新增</div>
                                <div class="h4 no-m"><b><span style="color:#3c8dbc" id="mm_numDay1">0</span></b>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="small show text-uppercase text-muted">今日新增</div>
                                <div class="h4 no-m"><b><span style="color:#FF0000" id="mm_numDay">0</span></b>
                                </div>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
//        $.post("${base}/platform/home/orderData", {}, function (data) {
//            $("#finishAmount").html("&yen;"+data.finishAmount);
//            $("#numAll").html(data.numAll);
//            $("#numDf").html(data.numDf);
//            $("#numDs").html(data.numDs);
//            $('.dash-line').sparkline(data.numDay, {
//                type: 'line',
//                width: '100%',
//                height: '40',
//                lineWidth: 1,
//                lineColor: '#fff',
//                spotColor: '#f1f4f9',
//                fillColor: '',
//                spotRadius: '2'
//            });
//        }, "json");
//        $.post("${base}/platform/home/goodsData", {}, function (data) {
//            $("#numUp").html(data.numUp);
//            $("#numDwon").html(data.numDwon);
//            $("#numStock").html(data.numStock);
//        }, "json");
//        $.post("${base}/platform/home/memberData", {}, function (data) {
//            $("#mm_numAll").html(data.numAll);
//            $("#mm_numDay1").html(data.numDay1);
//            $("#mm_numDay").html(data.numDay);
//        }, "json");
    });
</script>

<%}%>
